<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-default rankingtable">
			<table class="table">
				<thead>
					<tr>
						<td align="center">Route</td>
						<td>Average Speed</td>
						<td>Duration</td>
						<td>Fuel consumption</td>
						<td>Alternatives</td>
						<td>Points</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in trips">
						<td align="center" width="300" height="150">
							<ng-map zoom="7" center="{{item.Center}}" map-type-id="TERRAIN">
						    <shape name="polyline"
						      path="{{item.Route}}"
						      geodesic="true"
						      stroke-color="#FF0000"
						      stroke-opacity="1.0"
						      stroke-weight="2">
						    </shape>
						  </ng-map>
						</td>
						<td class="vert-align">{{item.AvgSpeed | number:0}} km/h</td>
						<td class="vert-align">{{item.Duration / 60 | number:0}} minutes</td>
						<td class="vert-align">{{(item.GasConsumption / item.Distance) * 100 | number:2}} l/100km</td>
						<td class="vert-align">
							<ul ng-repeat="alt in item.Alternatives | orderBy:'Co2'">
								<li>
									<i ng-if="alt.Mode == 'walking'"  class="fa fa-male" aria-hidden="true"></i>
									<i ng-if="alt.Mode == 'transit'"  class="fa fa-train" aria-hidden="true"></i>
									<i ng-if="alt.Mode == 'bicycling'" class="fa fa-bicycle" aria-hidden="true"></i>
									<i ng-if="alt.Mode == 'driving'" class="fa fa-automobile" aria-hidden="true"></i>
									{{alt.Distance / 1000}} km
								</li>
							</ul>
						</td>
						<td class="vert-align">
								{{ item.Points.CarVsTransit | number:2 }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
