<div class="row">
	<div class="col-md-5 col-md-offset-1 col-no-padding">
		<div class="box">
			<h2>
				CO<sub>2</sub> Footprint
			</h2>
			<just-gage id="footprint" min=0 max="target" title="" value="emission"
				options="{
            levelColors: ['#6db33f', '#DBFF19', '#FF6725', '#B20501'],
            levelGradiant: false,
            titleFontColor: 'white',
            titleFontFamily: 'Antic'}"></just-gage>
		</div>
	</div>
	<div class="col-md-5 col-md-offset-1 col-no-padding">
		<div class="box">
			<a ui-sref="ranking({userId:userId})">
				<h2>Rankings</h2>
				<i class="fa fa-trophy fa-5x home_icon custom-icon" aria-hidden="true"></i>
				<user-ranking></user-ranking>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-5 col-md-offset-1 col-no-padding">
		<div class="box">
			<a ui-sref="alternativeroute({userId:userId})">
				<h2>Alternatives</h2> 
				<i class="fa fa-map-o fa-5x home_icon custom-icon" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<div class="col-md-5 col-md-offset-1 col-no-padding ">
		<div class="box">
			<a href="https://docs.google.com/presentation/d/1slUYS1yv5WHoyHl8sumjDBe15i_VzbOPegJTE83qW1A/pub" target="_blank">
				<h2>Manual</h2>
				<i class="fa fa-book fa-5x home_icon custom-icon" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>
