<div class="row">
	<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 col-no-padding">
		<div class="hpanel hpanel_first">
			<div class="panel-body">
				<div class="text-center">
					<h2 class="m-b-xs">My Footprint</h2>
					<div class="m">
					   <highchart id="myFootprint" config="footprintChart"></highchart>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 col-no-padding">
		<div class="hpanel hpanel_second">
			<a href="#/ranking">
				<div class="panel-body">
					<div class="text-center">				
						<h2 class="m-b-xs">Rankings</h2>
						<div class="m">
							 <i class="fa fa-trophy fa-5x home_icon"
								aria-hidden="true"></i>
						</div>
					
					</div>

				</div>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 col-no-padding">
		<div class="hpanel hpanel_first">
		<a href="#/alternativeroute">
			<div class="panel-body">
				<div class="text-center">
					<h2 class="m-b-xs">Alternative</h2>
					<div class="m">
						<i class="fa fa-map-o fa-5x home_icon"
								aria-hidden="true"></i>
					</div>
				</div>
			</div>
		  </a>
		</div>
	</div>
	
</div>

<div ui-view></div>