<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				
		<div class="panel panel-default rankingtable">
		  <!-- Table -->
		  <table class="table">
		  <thead>
		  	<tr>
		  		<td align="center">
		  			Rank
		  		</td>
		  		<td>
		  			User
		  		</td>
		  		<td>
		  			Points
		  		</td>
		  	</tr>
		  </thead>
		  <tbody>
			    <tr ng-repeat="item in userdata">
			    	<td align="center">
			    	 # {{item.Ranking.Rank}}
					 </td>
			    	<td>
			    		<img src="https://api.adorable.io/avatars/34/{{item.Prename}}" class="img-circle xs-b" alt="logo">
			    		
						{{item.Name}} {{item.Prename}}
			    	</td>
					<td>
						{{item.Ranking.Points}}
					</td>
			    </tr>
		    </tbody>
		  </table>
		</div>
	</div>
<div>